In [1]:
import yfinance as yf
import pandas as pd

In [2]:
data=yf.Ticker("TSLA")

In [4]:
TSLA_share_price_data=data.history(period='max')

In [6]:
TSLA_share_price_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0

WEb Scrabing TESLA

In [14]:
import requests
from bs4 import BeautifulSoup

In [15]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
data=requests.get(url).text

In [16]:
soup=BeautifulSoup(data,"html5lib")

In [17]:
Tesla_Revenue=soup.find_all("tbody")[1]
tesla_revenue=pd.DataFrame()
for row in Tesla_Revenue.find_all("tr"):
    col=row.find_all("td")
    date=col[0]
    revenue=col[1]
    tesla_revenue=tesla_revenue.append({"Date":date,"revenue":revenue}, ignore_index=True)

In [18]:
tesla_revenue.head()

           Date    revenue
0  [2022-09-30]  [$21,454]
1  [2022-06-30]  [$16,934]
2  [2022-03-31]  [$18,756]
3  [2021-12-31]  [$17,719]
4  [2021-09-30]  [$13,757]

In [19]:
tesla_revenue.reset_index(inplace=True)

GameStop

In [20]:
stock=yf.Ticker("GME")
gme_data=stock.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

Webscraping to Extract GME Revenue Data

In [21]:
html_data=requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html").text
soup=BeautifulSoup(html_data,"html5lib")

In [22]:
gme_Revenue=soup.find_all("tbody")[1]
gme_revenue=pd.DataFrame()
for row in Tesla_Revenue.find_all("tr"):
    col=row.find_all("td")
    date=col[0]
    revenue=col[1]
    gme_revenue=tesla_revenue.append({"Date":date,"revenue":revenue}, ignore_index=True)

In [23]:
gme_revenue.tail()

    index          Date revenue
50   50.0  [2010-03-31]   [$21]
51   51.0  [2009-12-31]      []
52   52.0  [2009-09-30]   [$46]
53   53.0  [2009-06-30]   [$27]
54    NaN  [2009-06-30]   [$27]

In [25]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [26]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [28]:
make_graph(TSLA_share_price_data, tesla_revenue, 'Tesla')

AttributeError: 'DataFrame' object has no attribute 'Date'

In [29]:
make_graph(gme_data, gme_revenue, 'GameStop')

TypeError: '<=' not supported between instances of 'Tag' and 'str'